<form onsubmit="javascript:return validar(this);">
    <p>
        <label for="nome">Nome</label>
        <br />
        <input type="text" size="50" id="nome" />
    </p>
    <p>
        <label for="senha">Senha</label>
        <br />
        <input type="password" size="20" id="senha" />
    </p>
    <p>
        <input type="submit" value="enviar" id="mandaBala" />
    </p>
    <p>
        <input type="button" value="enviar usando script" onclick="javascript:enviar(this.form);" />
    </p>
</form>

@section script{
    <script type="text/javascript">
        function validar(frm) {
            var retorno = true;

            if (frm["nome"].value == "") {
                frm["nome"].className = "erro";
                retorno = false;
            }

            if (frm["senha"].value == "") {
                frm["senha"].className = "erro";
                retorno = false;
            }

            return retorno;
        }

        function enviar(frm) {
            if (frm["nome"].value != ""
                && frm["senha"].value != "")
                frm.submit();
            else
                alert("preencha as bagacinhas");
        }
    </script>
}