<script type="text/javascript">
    var p = {
        codigo: 1,
        nome: "adão",
        sexo: "M"
    }

    document.writeln("<p>" + p.codigo + "</p>");
    document.writeln("<p>" + p.nome + "</p>");
    document.writeln("<p>" + p.sexo + "</p>");
</script>
