@{
    ViewBag.Title = "Index";
}

<div id="content">
    <h2>Index</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec felis lacus. Nam cursus orci sit amet pulvinar vestibulum. Etiam ut risus facilisis, tristique nisl nec, faucibus massa. Quisque egestas faucibus felis et vestibulum. Nulla ipsum odio, ultricies nec risus vel, dictum fermentum orci. Phasellus lobortis tincidunt quam tincidunt euismod. Suspendisse ornare lobortis libero eu vehicula. Nunc vestibulum vehicula iaculis. Proin ac metus eget tellus dignissim ultricies. Morbi malesuada metus quis mollis scelerisque. Proin sed rhoncus turpis, vitae blandit nisi. Maecenas vulputate hendrerit nunc, in fringilla orci placerat id. Suspendisse sagittis velit in nunc hendrerit, at commodo lectus ornare. Integer eget porttitor purus. Nam gravida vitae elit sed fermentum. Duis fermentum elementum mi, nec lobortis lacus bibendum id.</p>
</div>
