@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>link para download</th>
                <th>preview</th>
            </tr>
            <tr>
                <td><a href="~/Images/imagem1.png">imagem1.png</a></td>
                <td><img src="~/Images/imagem1.png" width="100" /></td>
            </tr>
            <tr>
                <td><a href="~/Controllers/DownloadPNG.ashx?NOME=~/Images/imagem2.png">imagem2.png</a></td>
                <td><img src="~/Images/imagem2.png" width="100" /></td>
            </tr>
            <tr>
                <td><a href="~/Controllers/DownloadPNG.ashx?NOME=~/Images/imagem3.png">imagem3.png</a></td>
                <td><img src="~/Images/imagem3.png" width="100" /></td>
            </tr>
        </table>
        <A href="~/Images/imagem1.png" >ALALAL</A>
    </div>
</body>
</html>
