@using _001_Layout.Utils
<ul>
    <li>
        @Html.ActionLinkWithHighlight("contact", "Contact", "Home")
    </li>
    <li>
        @Html.ActionLinkWithHighlight("about", "About", "Home")
    </li>
    <li>
        @Html.ActionLinkWithHighlight("home", "Index", "Home")
    </li>
</ul>
