<form>
    <p>
        Nome:
        <input type="text" id="nome" value="usuario" />
    </p>
    <p>
        Senha:
        <input type="password" id="senha" value="abc123" />
    </p>
</form>

<script type="text/javascript">
    alert($("input[id=nome]").val());
    alert($("input[id=senha]").val());
</script>
