<p>
    <span class="vermelho">Fala, </span>
    <span class="vermelho">gente</span>
    <span class="verde">!!!</span>
</p>

<script type="text/javascript">
    alert($(".vermelho").text());
    alert($(".vermelho").length);
</script>

@section style{
    <style type="text/css">
        .vermelho {
            color: #800;
        }

        .verde {
            color: #080;
        }
    </style>
}
