<ul>
    <li><a href="http://50minutos.com.br">50minutos</a></li>
</ul>

<ul>
    <li><a href="http://msdn.microsoft.com">MSDN</a></li>
    <li><a href="http://technet.microsoft.com">Technet</a></li>
    <li>
        CPLS:
        <ol>
            <li><a href="http://www.green.com.br">Green</a></li>
            <li><a href="http://kasolution.com.br">Ka</a></li>
        </ol>
    </li>
</ul>

<script type="text/javascript">
    alert($("ul li").length);
    alert($("ul > li").length);
</script>
